.jcarousel-wrapper {
    margin: 20px auto auto;
    position: relative;
    border: 10px solid #fff;
    width: 100%;
}

/** Carousel **/

.jcarousel, .jcarousel2{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul, .jcarousel2 ul{
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li, .jcarousel2 li{
    width: 200px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img, .jcarousel2 img{
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next, .jcarousel-control-prev2, .jcarousel-control-next2{
    position: absolute;
    top: -120px;
    margin-top: -36px;
    width: 72px;
    height: 72px;
    text-align: center;
    background: none;
    color: #22282F;
    text-decoration: none;
    font: 21px/66px Arial, sans-serif;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    border: 2px solid #FFCE6F;
    cursor: pointer;
}

.jcarousel-control-prev {
    right: 420px;
}

.jcarousel-control-next, .jcarousel-control-next2 {
    right: 0;
}

/** Carousel Pagination **/

.jcarousel-pagination, .jcarousel-pagination2{
    position: absolute;
    top: -130px;
    right: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
    width: 245px;
    text-align: center;
}

.jcarousel-pagination a, .jcarousel-pagination2 a{
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 8px;
    width: 8px;
    line-height: 10px;
    background: #566576;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 30px;
    opacity: 0.15;
}

.jcarousel-pagination a.active, .jcarousel-pagination2 a.active{
    background: #FFCE6F;
    color: #fff;
    opacity: 1;
    width: 12px;
    height: 12px;
    top: -2px;
    position: relative;
}

.jcarousel-pagination a:last-child, .jcarousel-pagination2 a:last-child{margin-right: 0}
